body{
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header{
    background:rgb(120, 174, 196);
    color: #333;
    padding-top: 5px;
    min-height: 100px;
    border-top:rgb(59, 245, 229);
    border-bottom: 1px solid #b85f5f;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link{
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.nav{
    margin: 0;
    padding: 0;
}

.nav-item{
    display: inline;
    padding: 0 10px 0 10px;
}

.branding{
    float: left;
    padding: 0;
}

header nav{
    float: right;
}

.logo{
    height: 100px;
    width: 100px;
}

.avatar{
    margin-top: 50px;
}

.dp{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}



.dropdown{
    padding-top: 15px;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    z-index: 4;
}

.dropdown-content a{
    color: rgb(39, 32, 32);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}

.search{ 

    display:block;
}
.search input{
    padding: 10px;
    border-radius:15px;
}
.search button{
    padding:7px 10px;
    border-radius:10px;
    color:green;
}


.sidenav {
    height: 100%; 
    width: 20%; 
    position: fixed;
    z-index: 1; 
    top: 109px; 
    left: 0;
    border-right: 1px solid #a31818;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration:none;
    font-size: 20px;
    color: #a5a4a5;
    display: block;
}

.sidenav a:hover {
    color: #333;
}

.side-btn{
    display: none;
}

.question{
    margin-left: 45px;
}

.btn{
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    background: #f9f9f9;
}
.btn:active{
    position: relative;
    top: 2px;
}

.container1{
    margin-top: 7%;
    width: 50%;
    margin-left: 350px;
    text-align: left;
    border: 1px solid #f8cdcd;
    
}

.container2{
    margin-top: 0px;
    width: 70%;
    margin-left: 270px;
    text-align: left;
    border: 1px solid #f8cdcd;
}

.container3{
    margin-top: 0px;
    width: 70%;
    margin-left: 270px;
    text-align: left;
    border: 1px solid #f8cdcd;
}

.container4{
    margin-top: 0.5px;
    width: 70%;
    margin-left: 270px;
    text-align: left;
    border: 1px  solid #f8cdcd;
}

.container5{
    margin-top: 0px;
    width: 70%;
    margin-left: 270px;
    text-align: left;
    border: 1px solid #f8cdcd;
}

.more-btn{
    border-radius: 6px;
    color: white;
    background: #457daf;
    margin-left: 10px;
}

.icon{
    height: 30px;
    width: 30px;
}

.qn{
    margin-top: 0;
    margin-left: 10%;
}

.ans{
    margin-left: 10%;
}

.ans hr{
    color: #c6c6c6;
    margin-right: 10%;
}

.answer{
    margin-bottom: 0;
}

.comment-btn{
    background: rgb(83, 82, 82);
    color: #fff;
    border-radius: 4px;
}

.dropdown-comment{
    position: relative;
    display: inline;
}

.dropdown-contents{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: 65px;
}
.show {
    display: block;
    position: relative;
}

.ask{
    margin-top: 7%;
    margin-left: 25%;
}


@media only screen and (max-width: 850px){
    .sidenav{
        display: none;
    }
    .side-btn{
        display: inline;
    }
    .display{
        width: 18%;
        display: block;
        top: 85px;
    }

}

@media only screen and (max-width: 500px){
    header nav{
        float: left;
    }

    .container1{
        margin-left: 5%;
        width: 90%;
    }

    .question, .qn{
        margin-left: 5px;
    }

    .btn{
        margin-top: 0;
    }

    .display{
        width: 100%;
        display: block;
        top: 145px;
        background: #f9f9f9;
    }

    .ask{
        margin-left: 10%;
    }
}


/* Add responsiveness for mobile devices */
@media only screen and (min-width: 280px) and (max-width:480px) {

    header nav{
        float: right;
      width: 100%;
      position: fixed;
      height: 10%;
      padding: 5px 1px;
      overflow: auto;
    
    }


    .sidenav {
        height: 50%; 
        width:38%; 
        z-index: 1; 
        left:2%;
        border-right: 1px solid #a31818;
        padding-top:1%;
    }

    section{
        overflow:auto;
        height:50%;
        width:50%;
        margin-top:70px;
        margin-left:10%;
        background-color:rgb(248, 244, 244)
    }

    .container1{
        margin-top: 7%;
        width: 100%;
        margin-left:0px;
        text-align: left;
        border: 1px solid #f8cdcd;
        
    }
}

/* Add responsiveness for mobile devices */
@media only screen and (min-width: 481px) and (max-width:780px) {
    .sidenav {
        height: 100%; 
        width:20%; 
        z-index: 1; 
        left:2%;
        border-right: 1px solid #a31818;
        padding-top:1%;
    }

    section{
        overflow:hidden;
        height:50%;
        width:50%;
        margin-top:70px;
        margin-left:20%;
        background-color:rgb(248, 244, 244)
    }
}