body{
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    background: rgb(120, 174, 196);
    color: #333;
    padding-top: 5px;
    min-height: 100px;
    border-top:rgb(59, 245, 229);
    border-bottom: 1px solid #b85f5f;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link{
    color: #333;
    text-decoration: none;
    width: 70px;
    height: 70px;
}

.nav-item {
    float: left;
    padding: 0 10px 0 10px;
}

section{
    height:1000px;
    width: 900px;
    margin-top:100px;
    margin-left:270px;
    display:block;
   
}

.branding{
    float: left;
    padding: 0;
}

header nav{
    float: right;
}

.logo{
    height: 100px;
    width: 100px;
}

.dropdown{
    padding-top: 15px;
    display: inline-block;
  
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    z-index: 4;
}

.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    z-index: 4;
}

.dropdown-content a{
    color: rgb(39, 32, 32);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;    
}

.search{ 
    display:block;   
}
.search input{
    padding: 10px;
    border-radius:15px;
    
}
.search button{
    padding:7px 10px;
    border-radius:10px;
    color:green;
 
}


.sidenav {
    height: 100%; 
    width: 20%; 
    position: fixed;
    z-index: 1; 
    top: 109px; 
    left: 0;
    border-right: 1px solid #a31818;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration:none;
    font-size: 20px;
    color: #a5a4a5;
    display: block;
}

.sidenav a:hover {
    color: #333;
}

.side-btn{
    display: none;
}

.question{
    margin-left: 45px;
}




.btn{
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    background: #f9f9f9;
}
.btn:active{
    position: relative;
    top: 2px;
}

.container1{
    margin-top: 7%;
    width: 100%;
    margin-left:0px;
    text-align: left;
    border: 1px solid #f8cdcd;  
}

.container2{
    margin-top: 0px;
    width: 100%;
    margin-left:0px;
    text-align: left;
    border: 1px solid #f8cdcd;   
}

.container3{
    margin-top: 0px;
    width: 100%;
    text-align: left;
    border: 1px solid #f8cdcd;
}

.container4{
    margin-top: 0px;
    width: 100%;
    margin-left:0px;
    text-align: left;
    border: 1px  solid #f8cdcd;
}

.container5{
    margin-top: 0px;
    width: 100%;
    margin-left: 0px;
    text-align: left;
    border: 1px solid #f8cdcd;
}

.more-btn{
    border-radius: 6px;
    color: white;
    background: #2d77b7;
    margin-left: 10px;
    overflow-wrap:inherit;
}

.more-btn2{
    border-radius: 6px;
    color: white;
    background: #2d77b7;
    margin-left: 10px;
}

.icon{
    height: 30px;
    width: 30px;
  
}

.qn{
    margin-top: 0;
    margin-left: 10%;
    overflow:auto;
   
}


.ans{
    margin-left: 10%;
    
}

.ans hr{
    color: #c6c6c6;
    margin-right: 10%;
    
}

.answer{
    margin-bottom: 0;

}

.comment-btn{
    background: #333;
    color: #fff;
    border-radius: 4px;
    
}

.dropdown-comment{
    position: relative;
    display: inline;    
}

.dropdown-comment{
    position: relative;
    display: inline;    
}



.dropdown-contents{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: 65px;
  
}
.show {
    display: block;
    position: relative;
    
}

.ask{
    margin-top: 7%;
    margin-left: 25%;
   
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

/* Add responsiveness for mobile devices */
@media only screen and (min-width: 280px) and (max-width:480px) {

    header nav{
        float: right;
      width: 100%;
      padding: 5px 1px;
      overflow: auto;
    
    }

    .sidenav {
        height:90%; 
        width:40%; 
        z-index: 1;
        top:185px;  
        left:2%;
        border-right: 1px solid #f3aeae;
        padding-top:2%;
    }

    section{
        overflow:auto;
        height:50%;
        width:55%;
        margin-top:170px;
        margin-left:42.2%;
        background-color:rgb(248, 244, 244);
        overflow:hidden;
    }

    .search{ 

        display:block;
    }
    .search input{
        padding: 10px;
        border-radius:15px;
        width:42%
    }
    .search button{
        padding:7px 10px;
        border-radius:10px;
        color:green;
    }

    .dp{
        border-radius: 100%;
    }
    .more-btn{
        border-radius: 6px;
        color: white;
        background: #2d77b7;
        margin-left: 10px;
    overflow:hidden;
    }
    .container1{
        margin-top: 7%;
        width: 100%;
        text-align: left;
        overflow: hidden;
        border: 1px solid #f8cdcd;  
    }
    }

/* Add responsiveness for mobile devices */
@media only screen and (min-width: 481px) and (max-width:1024px) {
    section{
        overflow:auto;
        height:1300px;
        width:66%;
        margin-top:10%;
        margin-left:32%;
        background-color:rgb(248, 244, 244)
       
    }

    .sidenav {
        width:32%;
    }

    .more-btn{
        border-radius: 6px;
        color: white;
        background: #2d77b7;
        margin-left: 10px;
       overflow:hidden;
    }
}