/* Style the body */
body {
    background-color:rgb(224, 240, 237);
}

  /* Style the form body */
.container{
  width: 406px;
  margin-top: 90px;
  margin-left:480px;
  text-align: center;
  height: 520px;            
  background-color: rgb(56, 53, 53);
}

/* Style the form body */
.reset {
    height:515px;
    width: 400px;
    margin-top: 90px;
    border-radius: 5px;
    background-color:white;
    margin-left: 3px;
  }

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .input_container{
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .input{
    height: 30px;
    width: 70%;
    margin:0;
    padding-left:60px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
    color: #000;
    background: #fff;
  }
  
  .icon{
    position: absolute;
    top: 8px;
    left: 50px;
    width: 16px;
    height: 16px;
  }
  
  .btn{
    padding: 8px 35px;
    border: none;
    background: #008cff;
    color: #fff;
    font-size: 18px;
    border-radius: 18px;
    cursor: pointer;
  }
  
  /* Style the forgot password query */
  #reminder {
    text-align: center;
    margin-top: 15px;
  }
  
  /* Add responsiveness for mobile devices */
  @media only screen and (min-width: 280px) and (max-width:480px) {
      body {
        background-color:rgb(224, 240, 237);
    }
  
    /* Style the profile card */
    .profile {
      width:98%;
      position: relative;
      text-align: center;
      height:500px;            
      background-color: rgb(56, 53, 53);
    }
  
  
    /* Style the form body */
  .reset {
    height:99%;
    width:98%;
    margin-top:5%;
    border-radius: 5px;
    background-color:white;
    margin-left:1%;
  }
  }
  
  /* Add responsiveness for mobile devices */
  @media only screen and (min-width: 481px) and (max-width:1024px) {
    body {
        background-color:rgb(224, 240, 237);
    }
  
    /* Style the profile card */
    .profile {
      width:98%;
      margin-top:1%;
      margin-left:1%;
      text-align: center;
      height:680px;            
      background-color: rgb(56, 53, 53);
    }
  
  
    /* Style the form body */
    .reset {
    height:99%;
    width:98%;
    margin-top:5%;
    border-radius: 5px;
    background-color:white;
    margin-left:1%;
    }
    }